#### ATTENTION: Variables for the React App have to be defined in the .env file inside the "/frontend" folder
# Variables for Producer

# Astra Streaming Variables

STREAMING_URI = ""
STREAMING_TOKEN = ""
STREAMING_TOPIC_NAME = ""

# Astra DB Variables

ASTRA_DB_ID = ""
ASTRA_DB_REGION = ""
ASTRA_DB_KEYSPACE = ""
ASTRA_DB_APPLICATION_TOKEN = ""

REACT_APP_STREAMING_URI = ""
REACT_APP_STREAMING_TOKEN = ""
REACT_APP_STREAMING_TOPIC_NAME = ""

REACT_APP_ASTRA_DB_ID = ""
REACT_APP_ASTRA_DB_REGION = ""
REACT_APP_ASTRA_DB_KEYSPACE = ""
REACT_APP_ASTRA_DB_APPLICATION_TOKEN = ""

REACT_APP_ORG_ID = "org1"

BACKEND_PORT = "4001"